p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
label {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
input[type=radio],input[type="checkbox"] {
  border: 1px solid orange;
  padding: 0.5em;
  -webkit-appearance: none;
}
input[type=radio]:checked, input[type="checkbox"]:checked {
  background-color: orange;
  
}
input[type=radio]:focus, input[type="checkbox"]:focus {
  outline-color: transparent;
}
.under-logo {
  background-color: orange;
}
.btn-orange {
  background-color: orange;
}